.user {
  height: 40px;
  padding: 7px 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.check {
  width: 18px;
  height: 18px;
  margin-bottom: 3px;
}

span {
  margin-right: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

.detach {
  height: 26px;
  font-size: 12px;
}
